.counter {
  span {
    display: inline-block;
    padding: 0 5px;
    font-size: 24px;
    color: $primary-color;

    &.even {
      color: #353535;
    }
  }

  .type {
    color: #919191;
    font-size:14px;
    font-style: italic;
  }
}
